.center {
  background-color: #fff;
  margin: auto;
  width: 90%;
  height: 1000px;
}

.form-default {
  background-color: #fff;
  border: 1px solid #000;
  margin: auto;
  width: 50%;
  height: 200px;
}

.user-card {
  width: 300px;
  margin: auto;
  margin-bottom: 50px;
  margin-left: 20px;
  background: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.customer-info {
  margin: auto;
  background: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  margin-top: 50px;
  height: 800px;
  width: 80%;
}

.customer-detail {
  background-color: #b8d6bb;
  margin: auto;
  margin-top: 20px;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  height: 100px;
  width: 90%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cont {
  margin: auto;
  width: 90%;
}

#rounded {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#rounded2 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#rounded3 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#rounded1 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.mid-blue {
  background-color: #e9f2ee;
  margin-top: 100px;
  height: 300px;
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  padding: 20px;
}

.big-name {
  font-size: 40px;
  color: #fa9f9d;
}

.med-text {
  color: #2b2b2b;
}

.login-container {
  margin-top: 100px;
  color: #343a40;
  padding: 20px;
  background-color: #fff;
  border: 1px solid rgb(250, 159, 157);
  box-shadow: 0 4px 8px 0 rgba(250, 159, 157, 0.4),
    0 6px 20px 0 rgba(250, 159, 157, 0.6);
  -webkit-box-shadow: 0 4px 8px 0 rgba(250, 159, 157, 0.1),
    0 6px 20px 0 rgba(20, 20, 20, 0.4);
  border-radius: 8px;
}

.text-viviane {
  color: #fa9f9d;
}

.bg-viviane {
  background-color: #fa9f9d;
}

.cont-one {
  margin: auto;
  margin-top: 100px;
  height: auto;
  width: 90%;
}

#header-viv {
  background-image: url('../img/main.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 600px;
}

.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  min-height: 600px;
  width: 100%;
}

.text-index {
  text-align: center;
  color: white;
  margin-top: 150px;
  font-size: 80px;
}

#equipe {
  background-color: #fff;
  height: 400px;
}

#present {
  background-color: #cddfb2;
  min-height: 500px;
}
hr {
  color: #fff;
}

.form-check-input .form-check-input:checked {
  border-color: #fa9f9d;
  background-color: #fa9f9d;
}

.form-block {
  margin-top: 100px;
  padding: 10px;
  border: 1px solid #fa9f9d;
}
