body {
  background-color: #eef3eb;
}

.center {
  background-color: #fff;
  margin: auto;
  width: 90%;
  height: 1000px;
}

.form-default {
  background-color: #fff;
  border: 1px solid #000;
  margin: auto;
  width: 50%;
  height: 200px;
}

.user-card {
  margin: auto;
  margin-bottom: 50px;
  background: #fff;
  position: relative;
  padding: 10px;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
}

.customer-info {
  margin: auto;
  background: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  margin-top: 50px;
  height: 800px;
  width: 80%;
}

.customer-detail {
  background-color: #b8d6bb;
  margin: auto;
  margin-top: 20px;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  height: 100px;
  width: 90%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cont {
  margin: auto;
  width: 90%;
}

#rounded {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#rounded2 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#rounded3 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#rounded1 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.mid-blue {
  background-color: #e9f2ee;
  margin-top: 100px;
  height: 300px;
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  padding: 20px;
}

.big-name {
  font-size: 40px;
  color: #eaa49c;
}

.med-text {
  color: #2b2b2b;
}

.login-container {
  margin-top: 100px;
  color: #343a40;
  padding: 20px;
  background-color: #fff;
  border: 1px solid rgb(250, 159, 157);
  box-shadow: 0 4px 8px 0 rgba(250, 159, 157, 0.4),
    0 6px 20px 0 rgba(250, 159, 157, 0.6);
  -webkit-box-shadow: 0 4px 8px 0 rgba(250, 159, 157, 0.1),
    0 6px 20px 0 rgba(20, 20, 20, 0.4);
  border-radius: 8px;
}

.text-viviane {
  color: #eaa49c;
}

.bg-viviane {
  background-color: #eaa49c;
}

.cont-one {
  margin: auto;
  margin-top: 100px;
  height: auto;
  width: 90%;
}

#header-viv {
  width: 100%;
  background-image: url('../img/main.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 600px;
}

.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  min-height: 600px;
  width: 100%;
}

.text-index {
  text-align: center;
  color: white;
  margin-top: 150px;
  font-size: 80px;
}

#equipe {
  background-color: #fff;
  height: 400px;
}

#present {
  background-color: #cddfb2;
  min-height: 500px;
}
hr {
  color: #fff;
}

.form-check-input .form-check-input:checked {
  border-color: #eaa49c;
  background-color: #eaa49c;
}

.form-block {
  margin-top: 100px;
  padding: 10px;
  border: 1px solid #eaa49c;
}

@font-face {
  font-family: 'Bw Darius';
  src: url('../fonts/BwDariusDEMO-Bold.otf') format('otf');
}

.inline-customer {
  background-color: #cddfb2;
  color: #555;
  border: 1px solid #eee;
  align-items: center;
  padding: 5px 10px;
  border-radius: 10px;
  width: 100%;
}

.all-customers {
  width: 90%;
  margin: auto;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}

.card-body {
  background-color: #eef3eb;
  color: #444;
  border-radius: 10px;
}

#icon-detail {
  padding: 4px;
  border-radius: 100px;
  background-color: #666;
}

.image-user {
  display: flex;
  color: #444;
  background-color: #eef3eb;
  justify-content: center;
  align-items: center;
  border-radius: 150px;
  width: 50px;
  height: 50px;
  padding-right: 2px;
  border: 1px solid white;
}

.adjust {
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-show {
  display: flex;
  flex-direction: column;
  width: 4.5rem;
  height: 4.5rem;
  border: 1px solid #ececec;
  background-color: #eef3eb;
  color: #555;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 2px;
}

.date-show__month {
  font-size: 0.75rem;
  font-weight: bold;
}

.date-show__year {
  font-size: 0.75rem;
  position: absolute;
}

.date-show__day {
  font-size: 1.5rem;
  font-weight: bold;
}
