{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="col-md-6 m-auto">
        <div class="login-container">
            <h4 class="pb-2 text-viviane text-center">Cadastro Cliente</h4>

            <form method="POST" action="/createcustomer/">
                {% csrf_token %}

                <div class="form-group">
                    {{customerForm.name}}
                </div>
                <div class="form-group">
                    {{customerForm.phone_number}}
                </div>
                <div class="form-group">
                    {{customerForm.email}}
                </div>
                <div class="form-group">
                    <button type="submit" class="form-control bnt bg-viviane text-white">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}