{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="row pt-5 mt-5">
    <div class="col-md-3">
      <div class="user-card">
        <form method="GET" action="/customers/">
          <div class="form-group">
            <label for="phoneid">Nome</label>
            <input
              type="text"
              class="form-control"
              name="nome"
              placeholder="Nome"
            />
          </div>
          <div class="form-group">
            <label for="phoneid">Celular</label>
            <input
              type="text"
              class="form-control"
              name="phone"
              placeholder="Celular"
            />
          </div>
          <div class="form-group">
            <button
              type="submit"
              class="btn bg-viviane form-control text-white"
            >
              Pesquisar
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-9">
      {% for customer in customers %}
      <div class="card card-body mb-2">
        <div class="inline-customer">
          <h5>{{ customer.name}}</h5>
          <h5>{{ customer.endereco.bairro}}</h5>
          <h5>{{ customer.endereco.rua }}</h5>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
