<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/default.css' %}">
</head>
<body>

    <div class="cont-one">
        <div class="row">
            <div class="col-6">
                <div class="mid-blue">
                    <div class="row">
                        <div class="col-4">
                            <img id="rounded2" src="{% static 'img/faces.PNG' %}">
                        </div>
                        <div class="col-8">
                            <p class="big-name">Ramon Ramos</p>
                            <p class="med-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="mid-blue">
                    <div class="row">
                        <div class="col-4">
                            <img id="rounded" src="{% static 'img/faces.PNG' %}">
                        </div>
                        <div class="col-8">
                            <p class="big-name">Ramon Ramos</p>
                            <p class="med-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="mid-blue">
                    <div class="row">
                        <div class="col-4">
                            <img id="rounded1" src="{% static 'img/faces.PNG' %}">
                        </div>
                        <div class="col-8">
                            <p class="big-name">Ramon Ramos</p>
                            <p class="med-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="mid-blue">
                    <div class="row">
                        <div class="col-4">
                            <img id="rounded3" src="{% static 'img/faces.PNG' %}">
                        </div>
                        <div class="col-8">
                            <p class="big-name">Ramon Ramos</p>
                            <p class="med-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>