<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/default.css' %}"></head>

</head>
<body>
    {% include 'navbar.html' %}
        <div class="container mt-4 py-5">
            <div class="row text-center">
                <div class="col-sm-6">
                    <img class="rounded-circle" src="../static/img/viviane.jpg" width="50%" height="50%">
                    <h3 class="big-name text-viviane text-center">Viviane Celestino</h3>
                    <hr>

                </div>
                <div class="col-sm-6">
                    <img class="rounded-circle" src="../static/img/thais.jpg" width="50%" height="50%">
                    <h3 class="big-name text-viviane text-center">Thais Ruth</h3>
                    <hr>

                </div>
            </div>
            <div class="row text-center">
                <div class="col-sm-6">
                    <img class="rounded-circle" src="../static/img/ramon.jpg" width="50%" height="50%">
                    <h3 class="big-name text-viviane text-center">Ramon Celestino</h3>
                    <hr>

                </div>
                <div class="col-sm-6">
                    <img class="rounded-circle" src="../static/img/pedro.jpg" width="50%" height="50%">
                    <h3 class="big-name text-viviane text-center">Pedro Cabral</h3>
                    <hr>

                </div>
            </div>
        </div>


</body>
</html>