<section id="equipe">
    <div class="container mt-4 py-5 text-viviane">
        <div class="row text-center">
            <div class="col-sm-6">
                <img class="rounded-circle" src="../static/img/viviane.jpg" width="50%" height="50%">
                <h3 class="big-name text-center">Viviane Celestino</h3>
                <hr class="text-white">
                <p><i class="fas fa-phone"></i> (83) 98954-4872</p>
                <p><i class="fas fa-envelope-open"></i> leovieira@gmail.com</p>

            </div>
            <div class="col-sm-6">
                <img class="rounded-circle" src="../static/img/thais.jpg" width="50%" height="50%">
                <h3 class="big-name text-center">Thais Ruth</h3>
                <hr>
                <p><i class="fas fa-phone"></i> (83) 98954-4872</p>
                <p><i class="fas fa-envelope-open"></i> leovieira@gmail.com</p>

            </div>
        </div>

    </div>
</section>
