{% extends 'base.html' %}

{% block content %} 

<header id="header-viv">
    <div class="header-overlay">
        
    </div>
</header>
<section id="present">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-4 text-index"><strong>Viviane Celestino Confeitaria</strong></h1>
                <p class="text-white text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid quas ipsum ducimus error. Corrupti culpa nostrum voluptatibus reprehenderit eligendi consectetur, numquam expedita, tempora quos assumenda, amet quidem illo! Nisi, porro.</p>
                
            </div>
            
        </div>
        
    </div>
</section>

{% include 'equipe.html' %}



{% endblock %}