<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
    <div class="sidebar-header my-5 text-center">
      <h3>Viviane Celestino Confeitaria</h3>
    </div>

    <ul class="list-unstyled components">
      <li class="active">
        <a
          href="#homeSubmenu"
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle"
          >Clientes</a
        >
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
            <a href="/createcustomer/">Cadastro</a>
          </li>
          <li>
            <a href="/customers/">Consulta</a>
          </li>
          <li>
            <a href="#">Detalhes</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Sobre</a>
      </li>
      <li>
        <a
          href="#pageSubmenu"
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle"
          >Encomendas</a
        >
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <a href="/createencomenda/">Cadastro</a>
          </li>
          <li>
            <a href="/encomendas/">Consulta</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Produtos</a>
      </li>
      <li>
        <a href="#">Estoque</a>
      </li>
      <li>
        <a href="#">Contato</a>
      </li>
      <li>
        <a href="#equipe">Equipe</a>
      </li>
    </ul>
  </nav>
</div>
